= semantic_form_for [@preferencium] do |form|
   
  = form.input :cliente, :member_label => :nome, :label => 'Cliente'
  = form.input :produto, :member_label =>:nome, :label => 'Produto'

  = form.submit 'Salvar'
 
